
## Credentials
config.json

## Artifacts
*pycache*
*.egg-info*

## Data
data/raw/reddit/authors/*.json.gz
data/processed/reddit/authors/*.json.gz
data/processed/reddit/features/*/*.joblib
!data/processed/reddit/features/README.md
data/results/

## Plots
plots/
!plots/README.md

## Models to Ignore
models/reddit/*/*.joblib
models/reddit/*/*.csv