pandas
numpy
matplotlib
joblib
scikit-learn==0.22.1
scipy
praw
psaw
jupyter
tqdm
nltk
pytest
pytest-cov
emoji
unidecode
geopy>=1.21.0
reverse-geocoder>=1.5.1
global-land-mask>=0.0.3
numba
timezonefinder